.top_row, .categories_row
{
    line-height: 50px;
}

.top_row a
{
    color: #777;
    letter-spacing: 2px;
}

.top_row a:hover
{
    text-decoration: none;
    color:#8700ff;
}

.categories_row
{
    background-color: #000000;
    color:#fff;
}

a.testy:hover
{
    text-decoration: none;
}

ul.navi li
{
    display: inline-block;
    margin-left:35px;
}

.right
{
    text-align:right;
    padding-right:30px;

}

.categories_row a
{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.catrow
{
    padding-left:0px;
    margin-left:0px;
}

a.brand
{
    font-weight: bold;
    letter-spacing: 5px;
}

.cat_last
{
    text-align: right;
}

.topsearchform
{
    padding-right: 15px;
    margin-right: 0;
    display: inline-block;
}

.secondrow
{
    padding-right:15px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.bodycont
{
    padding-top:40px;
}

.frontproduct
{
    border: 1px solid #fff;
    margin-top: 10px;
}

.frontproduct_imageblock p
{
    text-align: center;
    padding-left:0px;
}

.frontproduct_imageblock p a img
{

}

.frontproduct:hover
{
    border:1px solid #dfdfdf;
}

.frontproduct p
{
    text-align:center;
}

.product_show_title
{
    text-align: center;
    margin-bottom:20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.prod_cat_title
{
    color:#8700ff;
}

.pricehead
{
    background-color: #9acfea;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    line-height: 30px;
}

.priceamount
{
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    text-align: center;
}

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}

.mediashare a img
{
    border:0;
}

.mediashare a
{
    margin:10px;
}

.mediashare
{
    text-align: center;
    padding-top:20px;
}

.mediashare a:hover
{
    text-decoration: none;
    border:0;
}

.add_to_cart
{
    padding-top: 10px;
    text-align: center;
}

.cart_btm_btns
{
    text-align: right;
}

.total_line_item
{
    text-align: right;
    padding-right:2px;
}

ul.navi li.lang_item
{
    margin-left:5px;
}

#same_as_billing p
{
    background-color: #f5e79e;
    text-align: center;
    margin:50px;
    padding:30px;
    font-weight: bold;
    font-size: 18px;
}

.recap_order
{
    background-color: #f7f7f7;
    padding:15px;
}

.navbar-inverse .navbar-nav > li > a.nav-user
{
    color: #1c94c4;
}

.navbar-inverse .navbar-nav > li > a.nav-cart
{
    color: #8700ff;
}

body
{
    background-color: #f5f5f5;
}

.mini_fiche_holder
{
    background-color: #fff;
    padding:15px;
}

.mini_fiche_holder_img
{
    border-bottom: 1px solid #8700ff;
    padding-bottom:15px;
    text-align: center;
}

.mini_fiche_holder_name
{
    margin-top: 5px;
}

.mini_fiche_holder_img > a
{
    display: inline-block;
}

.mini_fiche_holder_price > p
{
    padding-right:10px;
    text-align: right;
}

.catalogh
{
    font-weight: bold;
    text-align: center;
}

.demo
{
    margin-bottom:20px;
}

h1
{
    margin-top:0px;
}

h1 span
{
    font-size:12px;
}

.account
{
    text-align: right;
}

.account ul {
    list-style-type: none;
    margin-left: -20px;
    float: right;
}

.account ul li
{
    display: inline-block;
}

.account ul li h4 a
{
    text-decoration: none;
    color: #212121;
}

body > div:nth-child(2) > div > div.col-md-9 > div > ul > li:nth-child(2) > div.hidden-xs > p > span
{
    font-size: 14px;
    background-color: #0088cc;
}


.account ul > li:nth-child(1), .account ul > #your-account {
    border-right: 1px solid #333;
    padding-right: 12px;
}
.account ul > li:nth-child(1), .account ul > #your-account {
    border-right: 1px solid #333;
    padding-right: 12px;
}
.account ul > li {
    float: left;
    margin: 0 0 0 10px;
}

h4.ps_title a
{
    letter-spacing: 2px;
    margin-left: 10px;
    border-bottom: 1px solid #CB4B16;
    color: #212121;
    text-decoration: none;
}

h4.ps_title a span
{
    color: #CB4B16;
}

.ps_details
{
    margin-top:20px;
}

.ps_mini_img
{
    margin-top: 15px;
}

.ps_description
{
    margin-top: 15px;
}

ul.catnav > li > a
{
    color: #212121;
}

ul.catnav > li > a:hover
{
    color: #a94442;
}

ul.catnav li.cat_child
{
    padding-left:10px;
    font-size:13px;
}

#footer
{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background-color: #212121;
}

#maincontent
{
    padding-bottom: 50px;
}

#footer .payment_methods
{
    text-align: center;
}

.price-striped
{
    text-decoration: line-through;
}

.price-promo
{
    font-weight: bold;
    color: #fa0df2;
}

