{% extends "StoreFrontBundle:Default:layout.html.twig" %}

{% block title %}{{ category.title }} | {{ parent() }} {% endblock %}

{% block content %}
            <h2>{{ category.title }}</h2>
    {% set looping = 0 %}

                <div class="row">
                    {% for product in products %}
                        {% if product.masterVariant.outOfStock is empty %}
                            {% include 'StoreProductBundle:Product:showIndexProduct.html.twig' with {'product': product} %}
                            {% set looping = looping + 1 %}
                        {% endif %}
                        {% if looping is divisibleby(4) %}
                            </div><div class="row demo">
                        {% endif %}
                    {% endfor %}
                </div> <!-- end row -->

{% endblock content %}