{% extends "StoreFrontBundle:Default:layout.html.twig" %}

{% block title %}{{ category.title }} | {{ parent() }} {% endblock %}

{% block content %}
            <h2>{{ category.title }}</h2>

                <div class="row">
                    {% for product in products %}
                        {% include 'StoreProductBundle:Product:showIndexProduct.html.twig' with {'product': product} %}
                    {% endfor %}
                </div> <!-- end row -->

{% endblock content %}