{% extends 'StoreFrontBundle:Default:layout.html.twig' %}

{% block title %}{{ parent() }} | Bienvenue {% endblock %}

{% block content %}
    <div class="row demo">
    {% set looping = 0 %}
  {% for prod in products %}
      {% if prod.masterVariant.outOfStock is empty and looping < 20 %}
                {% include 'StoreProductBundle:Product:showIndexProduct.html.twig' with {'product': prod} %}
          {% set looping = looping + 1 %}
      {% endif %}
            {% if looping is divisibleby(4) %}
        </div><div class="row demo">
            {% endif %}
            {% endfor %}
    </div>
{% endblock %}