{% extends '::front.html.twig' %}

{% block title %}{{ parent() }} | Bienvenue {% endblock %}

{% block body %}

    <div class="container">


    <div class="col-md-3">
        <h5>Catégories</h5>
    </div>

    <div class="col-md-9">

        <div class="row">

            {% for prod in products %}
                {% include 'StoreProductBundle:Product:showIndexProduct.html.twig' with {'product': prod} %}
            {% endfor %}

        </div>

        {#
        {% for prod in products %}
        {% include 'StoreProductBundle:Product:showIndexProduct.html.twig' with {'product': prod} %}
        {% endfor %}
        #}

    </div>



{#

    <div class="col-md-9">

        {% for prod in products %}
        {% include 'StoreProductBundle:Product:showIndexProduct.html.twig' with {'product': prod} %}
        {% if loop.index is divisibleby(3) %}
    </div><div class="row">
            {% endif %}
            {% endfor %}

    </div>

#}

</div>



{% endblock %}