{% extends 'StoreFrontBundle:Default:layout.html.twig' %}

{% trans_default_domain 'Interface' %}

{% block title %}{{ parent() }} | {{ 'welcome'|trans|capitalize }} {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12 col-md-12">
            <p style="text-align: center;">
                <a href="http://www.makeup-cosmetics.eu/catalog/product/208/feutre-a-levres" title="Promo Feutre à Lèvres">
                <img class="img-responsive" src="{{ asset('/gefal_promo_' ~ app.session.get('lunetics_locale') ~ '.jpg') }}" alt="Promotion Feutre à Lèvres"/>
                    </a>
            </p>
        </div>
    </div>
    <hr>

    <div class="row demo">
    <h1>{{ 'welcome'|trans }}</h1>
    {% set looping = 0 %}
  {% for prod in products %}
      {% if prod.masterVariant.outOfStock is empty and looping < 20 %}
                {% include 'StoreProductBundle:Product:showIndexProduct.html.twig' with {'product': prod} %}
          {% set looping = looping + 1 %}
      {% endif %}
            {% if looping is divisibleby(4) and looping < 20 %}
        </div><div class="row demo">
            {% endif %}
            {% endfor %}
    </div>
{% endblock %}