{% extends 'StoreFrontBundle:Default:layout.html.twig' %}

{% block title %}{{ parent() }} | Bienvenue {% endblock %}

{% block content %}
    <div class="row demo">
  {% for prod in products %}
                {% include 'StoreProductBundle:Product:showIndexProduct.html.twig' with {'product': prod} %}
            {% if loop.index is divisibleby(4) %}
        </div><div class="row demo">
            {% endif %}
            {% endfor %}
    </div>
{% endblock %}