{% extends 'StoreFrontBundle:Default:layout.html.twig' %}

{% trans_default_domain 'Interface' %}

{% block title %}{{ parent() }} | {{ 'welcome'|trans|capitalize }} {% endblock %}

{% block content %}



    <div class="row demo">
    <h1>{{ 'welcome'|trans }}</h1>
    {% set looping = 0 %}
  {% for prod in products %}
      {% if prod.masterVariant.outOfStock is empty and looping < 20 %}
                {% include 'StoreProductBundle:Product:showIndexProduct.html.twig' with {'product': prod} %}
          {% set looping = looping + 1 %}
      {% endif %}
            {% if looping is divisibleby(4) and looping < 20 %}
        </div><div class="row demo">
            {% endif %}
            {% endfor %}
    </div>
{% endblock %}