{% extends '::front.html.twig' %}

{% block body %}

    <div class="container" id="maincontent">


        <div class="col-md-2">
            <div class="row catalogh"><h5>Catalogue</h5></div>
            <div class="row">
                {{ render(controller('StoreFrontBundle:Default:getCategoryMenu')) }}
            </div>


        </div>

        <div class="col-md-10">





                {% block content %}

                {% endblock %}




        </div>

    </div>



{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        $(document).ready(function()
        {
            $('.cat_child').each(function(){
                $(this).hide();
            });
            $('.parent_cat').click(function(){
                var idx = $(this).attr('id');
                var cl = 'child_' + idx;
                $('.child_' + idx).toggle();
            });
        });

    </script>
{% endblock %}