{% extends '::front.html.twig' %}

{% trans_default_domain 'Interface' %}

{% block body %}

    <div class="container" id="maincontent">

        <div class="row">


        <div class="col-md-2">
                {{ render(controller('StoreFrontBundle:Default:getCategoryMenu')) }}

            <hr/>

            <div class="row">
                    <div class="fb-like-box" data-href="https://www.facebook.com/pages/MakeUp-Cosmetics/643352275751858" data-width="100"
                         data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
            </div>


        </div>

        <div class="col-md-10 {% block par_class %}{% endblock %}">





                {% block content %}

                {% endblock %}




        </div>

        </div>

    </div>



{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        $(document).ready(function()
        {
            $('.cat_child').each(function(){
                $(this).hide();
            });
            $('.parent_cat').click(function(){
                var idx = $(this).attr('id');
                var cl = 'child_' + idx;
                $('.child_' + idx).toggle();
            });
        });

    </script>
{% endblock %}