{% extends "StoreFrontBundle:Default:layout.html.twig" %}

{% block title %}Mentions Légales | {{ parent() }} {% endblock %}

{% block content %}

    <div class="row product_show_div">
        <div class="col-md-12">
            <h2>Mentions Légales</h2>
            <p>
                <a href="http://makeup-cosmetics.eu" title="MakeUp Cosmetics">makeup-cosmetics.eu</a> is part of <br/>
                <strong>Claude Haest S.P.R.L.</strong>
            </p>
            <p>Claude Haest <br/>
            Rue de Linkebeek, 50 <br/>
            1180 Bruxelles</p>
            <p>TVA/BTW : BE0474266949</p>
        </div>
    </div>


{% endblock %}