{% extends '::base.html.twig' %}

{% block body %}
<table class="table">
    {% for target in targets %}
        <tr>
            <td>{{ target }}</td>
        </tr>
    {% endfor %}
</table>



{% endblock %}