<html>
<body>
    <h1>Einde jaar promotie - Promotion de fin d'année</h1>

    <section>
        <p>Beste klanten, het hele gamma is nu op -30% op <a href="http://www.makeup-cosmetics.eu">MakeUp Cosmetics en dit
            tot en met het 31st december</a>
        </p>
    </section>

    <section>
        Chers clients, toute la gamme est
    </section>
</body>
</html>