{% extends "::base.html.twig" %}

{% block body %}

    <table class="table table-condensed">
        {% for target in targets %}
            <tr>
                <td>Email sent to : </td>
                <td>{{ target }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}