/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!/app/cache/.gitkeep
!/app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
.idea
web/media/*
web/uploads/*
web/images/*
!web/images/.gitkeep
!web/uploads/.gitkeep
!web/media/.gitkeep
web/app_dev.php
*.md
!README.md
Capfile
app/config/deploy.rb
