{% extends "StoreFrontBundle:Default:layout.html.twig" %}

{% block content %}
    <div class="row payment_result_block">
        {% include "StoreFrontBundle:Checkout/Payments:" ~ status ~ ".html.twig" with {'orderId': orderId} %}
    </div>
{% endblock %}