{% extends "::front.html.twig" %}

{% block content %}

    <div class="row">
        <h1>Merci pour votre commande</h1>
        <h4>Veuillez vérifier les informations ci-dessous avant de procéder au paiement</h4>
        <p>Ici viendra le récaptitulatif de la commande</p>
    </div>

{% endblock %}