{% extends "StoreFrontBundle:Default:layout.html.twig" %}

{% block content %}
    <div class="row payment_result_block">
        {% include "StoreFrontBundle:Checkout:Payments/invalid_" ~ locale ~ ".html.twig" with {'status': status} %}
    </div>
{% endblock %}