<h1>Oups !</h1>
<h3>Er was een probleem met de betaling.</h3>
<p>De betalingplatform Ogone informeert ons dat de betaling was geanuleerd, geweigerd of dat er een fout is gebeurt tijdens de betaling</p>
<p>U kan de betaling process opnieuw lanceren als u click opnieuw op de winkelandje.</p>
<p>Als voor een of andere reden, het fout zou blijven, U kunt ons contacteren via het contact formulier (link bovenaan).</p>
<hr>
<p>Uw MakeUpCosmetics.eu team</p>