<h1>Oups !</h1>
<h3>Une erreur est survenue pendant le paiement.</h3>
<p>La plateforme de paiement nous informe que le paiement a été annulé, refusé, ou qu'une erreur est survenue pendant le paiement.</p>
<p>Vous pouvez relancer la procédure de paiement en retournant sur la page de votre panier.</p>
<p>Si pour une raison quelconcque, vous n'arriviez toujours pas à effectuer le paiement, vous pouvez nous contacter via le formulaire de contact
en choisissant le sujet "Support/Paiement"</p>