<h1>Merci !</h1>
<h3>Votre commande est finalisée.</h3>
<p>Nous vous remercions pour votre commande portant le numéro <strong>#{{ orderId }}</strong>, celle-ci sera traitée dans les plus brefs délais.<br/>
Vous recevrez par e-mail le récapitulatif de votre commande et vous serez également avertis des étapes du traitement.</p>
<p>Encore merci,</p>
<p>L'équipe <strong>MakeUp Cosmetics</strong></p>