<h1>Bedankt !</h1>
<h3>Uw bestelling is gedaan.</h3>
<p>Wij danken u voor u bestelling met nummer <strong>#{{ orderId }}</strong>, deze zal zo vlug mogelijk behandeld worden.</p>
<p>U zal per mail krijgen het opvolging process van uw bestelling.</p>
<p>Nogmaals bedankt !</p>
<hr>
<p>Uw MakeUpCosmetics.eu tezam</p>