
    <h1>Derniers paniers</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateTime</th>
                <th>Nombre de Produits</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cart_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    {{ entity.CartDtg |date('d-m-Y H:i:s') }}
                </td>
                <td>{{ entity.items.count }}</td>
                <td>
                    {% if (entity.state is empty or entity.state == 'CART') %}
                        <span class="label label-default">Panier</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
