{% extends "StoreFrontBundle:Default:layout.html.twig" %}

{% trans_default_domain 'Interface' %}

{% block content %}

    <div class="row">
        <h2>{{ 'contact.sent_title'|trans|capitalize }}</h2>
        <p>{{ 'contact.sent'|trans|capitalize }}</p>
    </div>


{% endblock %}